@model InfluencerConnect.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}




@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
{

    @Html.AntiForgeryToken()
    
    <!-- Sign In -->
    <section class="inflanar-signin pd-top-120 pd-btm-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inflanar-signin__body">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="inflanar-signin__logins">
                                    <!-- Login header -->
                                    <div class="inflanar-signin__header mg-btm-10">
                                        <div class="inflanar-signin__heading">
                                            <h4 class="inflanar-signin__title">SignUp</h4>
                                            <p class="inflanar-signin__tag">Welcome to Influencer Connect</p>
                                        </div>
                                        <div class="inflanar-signin__heading__options">
                                            <!--Tab Nav -->
                                            <div class="list-group inflanar-signin__options" id="list-tab" role="tablist">
                                                <a class="list-group-item active" data-bs-toggle="list" href="#in-tab11" role="tab" id="influencer-tab">
                                                    <span> Influencer</span>
                                                </a>
                                                <a class="list-group-item" data-bs-toggle="list" href="#in-tab12" role="tab" id="marketer-tab">
                                                    <span>Marketer</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Login header -->

                                    <div class="tab-content" id="nav-tabContent">
                                        <!-- Single Tab Influencer -->
                                        <div class="tab-pane fade active show" id="in-tab11" role="tabpanel">
                                            <div class="inflanar-signin__inner">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>First Name*</label>
                                                                <input class="ecom-wc__form-input" type="text" name="FirstName" placeholder="First Name" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Last Name*</label>
                                                                <input class="ecom-wc__form-input" type="text" name="LastName" placeholder="Last Name" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Email*</label>
                                                                <input class="ecom-wc__form-input" type="email" name="Email" placeholder="Email Address" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Phone*</label>
                                                                <input class="ecom-wc__form-input" type="text" name="PhoneNumber" placeholder="Phone Number" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Password*</label>
                                                                <input class="ecom-wc__form-input" type="password" name="password" placeholder="Password" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Confirm Password*</label>
                                                                <input class="ecom-wc__form-input" type="password" name="ConfirmPassword" placeholder="Confirm Password" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Min Charge*</label>
                                                                <input class="ecom-wc__form-input" type="text" name="MinCharge" placeholder="Minimum Charge" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Max Charge*</label>
                                                                <input class="ecom-wc__form-input" type="text" name="MaxCharge" placeholder="Maximum Charge" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-12">
                                                                    <div class="form-group inflanar-form-input mg-top-20">
                                                                        <label>Content Type</label>
                                                                        <select class="property-sidebar__group inflanar-border" multiple>
                                                                            <option data-display="Reels">ManHattan</option>
                                                                            <option value="2">Shorts</option>
                                                                            <option value="3">Stories</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-12">
                                                                    <div class="form-group inflanar-form-input mg-top-20">
                                                                        <label>Limit*</label>
                                                                        <input class="ecom-wc__form-input" type="text" name="Limit" placeholder="Limit" required="required">
                                                                        @Html.CheckBoxFor(m => m.IsInfluencer, new { @id = "IsInfluencer", @class = "singup-checkbox signup-form-input", @style = "display:none" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group inflanar-form-input mg-top-20">
                                                                        <label>Category*</label>
                                                                        <select class="property-sidebar__group inflanar-border">
                                                                            <option data-display="Gaming">Gaming</option>
                                                                            <option value="2">Tech</option>
                                                                            <option value="3">Life Style</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group mg-top-20">
                                                                <div class="inflanar-signin__check-inline">
                                                                    <div class="inflanar-signin__checkbox">
                                                                        <div class="inflanar-signin__checkbox--group">
                                                                            <input class="inflanar-signin__form-check" id="checkbox" name="checkbox" type="checkbox">
                                                                            <label for="checkbox">Remember Me</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="inflanar-signin__forgot">
                                                                        <a href="forgot-password.html" class="forgot-pass">Forgot Password?</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Login Button Group -->
                                                            <div class="form-group mg-top-40">
                                                                <button type="submit" class="inflanar-btn"><span>Next</span></button>
                                                            </div>
                                                            <div class="inflanar-signin__bottom mg-top-20">
                                                                <p class="inflanar-signin__text">Dont’t have an aceount ?  <a href="sign-in.php">Login</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- End Single Tab -->
                                        <!-- Single Tab Marketing Agent -->
                                        <div class="tab-pane fade" id="in-tab12" role="tabpanel">
                                            <div class="inflanar-signin__inner">
                                               
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>First Name*</label>
                                                                <input class="ecom-wc__form-input" type="text" name="FirstName" placeholder="First Name" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Last Name*</label>
                                                                <input class="ecom-wc__form-input" type="text" name="LastName" placeholder="Last Name" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Email*</label>
                                                                <input class="ecom-wc__form-input" type="email" name="Email" placeholder="Email Address" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Phone*</label>
                                                                <input class="ecom-wc__form-input" type="text" name="PhoneNumber" placeholder="Phone Number" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Password*</label>
                                                                <input class="ecom-wc__form-input" type="password" name="password" placeholder="Email Address" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Confirm Password*</label>
                                                                <input class="ecom-wc__form-input" type="password" name="ConfirmPassword" placeholder="Phone Number" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Company Name*</label>
                                                                <input class="ecom-wc__form-input" type="text" name="CompanyName" placeholder="Type Address" required="required">
                                                                @Html.CheckBoxFor(m => m.IsInfluencer, new { @id = "IsInfluencer", @class = "singup-checkbox signup-form-input", @style = "display:none" })
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Proof of Employment/ Company letterhead*</label>
                                                                <input class="ecom-wc__form-input" type="file" name="companyname" placeholder="" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group mg-top-20">
                                                                <div class="inflanar-signin__check-inline">
                                                                    <div class="inflanar-signin__checkbox">
                                                                        <div class="inflanar-signin__checkbox--group">
                                                                            <input class="inflanar-signin__form-check" id="checkbox2" name="checkbox2" type="checkbox">
                                                                            <label for="checkbox2">Remember Me</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="inflanar-signin__forgot">
                                                                        <a href="forgot-password.html" class="forgot-pass">Forgot Password?</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Login Button Group -->
                                                            <div class="form-group mg-top-40">
                                                                <button type="submit" class="inflanar-btn"><span>Create Account</span></button>
                                                            </div>
                                                            <div class="inflanar-signin__bottom mg-top-20">
                                                                <p class="inflanar-signin__text">Dont’t have an aceount ?  <a href="sign-in.php">Login</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                        </div>
                                        <!-- End Single Tab -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 d-none d-lg-block">
                                <div class="inflanar-signin__welcome inflanar-bg-cover inflanar-section-shape18">
                                    <img src="~/Content/Images/in-account-cover.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Sign In -->

    <script>
        
        // Get references to the tabs and hidden checkbox
        const influencerTab = document.getElementById("influencer-tab");
        const marketerTab = document.getElementById("marketer-tab");
        const isInfluencerCheckbox = document.getElementById("IsInfluencer");

        // Add event listeners for tab clicks
        influencerTab.addEventListener("click", () => {
            isInfluencerCheckbox.checked = true; // Check the checkbox when Influencer tab is active
        });

        marketerTab.addEventListener("click", () => {
            isInfluencerCheckbox.checked = false; // Uncheck the checkbox when Marketer tab is active
        });
    </script>



}






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(document).ready(function () {

            $("#IsInfluencer").click(function () {
                if (!$("#IsInfluencer").is(':checked')) {
                    $(".for-agent").removeClass("d-none");
                    $(".for-influencer").addClass("d-none");
                } else {
                    $(".for-agent").addClass("d-none");
                    $(".for-influencer").removeClass("d-none");
                }
            });

            // Trigger the click event to set the initial state
            $("#IsInfluencer").trigger('click');
        });
    </script>
}
