<!-- Related Service -->
<section class="pd-btm-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section TItle -->
                <div class="inflanar-section__head  mg-btm-10">
                    <div class="inflanar-section__slide">
                        <h2 class="inflanar-section__title inflanar-section__title--medium " data-aos="fade-in" data-aos-delay="400">Related Services</h2>
                        <div class="inflanar-section__border"></div>
                        <div class="inflanar-controls">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Testimonial Slider -->
                <div class="swiper mySwiper inflanar-slider-related loading">
                    <div class="swiper-wrapper mg-top-30">
                        <div class="swiper-slide mg-btm-30">
                            <!-- Single property-->
                            <div class="inflanar-service">
                                <!-- Property Head-->
                                <div class="inflanar-service__head">
                                    <img src="~/Content/images/in-service5.jpg" alt="#">
                                    <div class="inflanar-service__wishlist">
                                        <a href="#"><i class="fas fa-heart"></i></a>
                                    </div>
                                </div>
                                <!-- Property Body-->
                                <div class="inflanar-service__body">
                                    <div class="inflanar-service__top">
                                        <a href="#" class="inflanar-service__cat"><img src="~/Content/images/in-cat-label.svg">Beauty</a>
                                        <div class="inflanar-service__price">$120</div>
                                    </div>
                                    <h3 class="inflanar-service__title"><a href="#">Two girls are our doing make-up in</a></h3>
                                    <div class="inflanar-service__author">
                                        <div class="inflanar-service__author--info">
                                            <a href="#"><img src="~/Content/images/in-author5.png">Jangpanko</a>
                                        </div>
                                        <div class="inflanar-service__author--rating">
                                            <div class="inflanar-service__author--star">
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                            </div>
                                            <div class="inflanar-service__author--label">(54)</div>

                                        </div>
                                    </div>
                                    <a class="inflanar-btn-full inflanar-btn-full--v2 mg-top-20" href="#">Book Now</a>
                                </div>
                            </div>
                            <!-- End Single property-->
                        </div>
                        <div class="swiper-slide mg-btm-30">
                            <!-- Single property-->
                            <div class="inflanar-service">
                                <!-- Property Head-->
                                <div class="inflanar-service__head">
                                    <img src="~/Content/images/in-service6.jpg" alt="#">
                                    <div class="inflanar-service__wishlist">
                                        <a href="#"><i class="fas fa-heart"></i></a>
                                    </div>
                                </div>
                                <!-- Property Body-->
                                <div class="inflanar-service__body">
                                    <div class="inflanar-service__top">
                                        <a href="#" class="inflanar-service__cat"><img src="~/Content/images/in-cat-label.svg">Fitness</a>
                                        <div class="inflanar-service__price">$120</div>
                                    </div>
                                    <h3 class="inflanar-service__title"><a href="#">Strong man the training black man</a></h3>
                                    <div class="inflanar-service__author">
                                        <div class="inflanar-service__author--info">
                                            <a href="#"><img src="~/Content/images/in-author6.png">Thomashko</a>
                                        </div>
                                        <div class="inflanar-service__author--rating">
                                            <div class="inflanar-service__author--star">
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                            </div>
                                            <div class="inflanar-service__author--label">(35)</div>

                                        </div>
                                    </div>
                                    <a class="inflanar-btn-full inflanar-btn-full--v2 mg-top-20" href="#">Book Now</a>
                                </div>
                            </div>
                            <!-- End Single property-->
                        </div>
                        <div class="swiper-slide mg-btm-30">
                            <!-- Single property-->
                            <div class="inflanar-service">
                                <!-- Property Head-->
                                <div class="inflanar-service__head">
                                    <img src="~/Content/images/in-service7.jpg" alt="#">
                                    <div class="inflanar-service__wishlist">
                                        <a href="#"><i class="fas fa-heart"></i></a>
                                    </div>
                                </div>
                                <!-- Property Body-->
                                <div class="inflanar-service__body">
                                    <div class="inflanar-service__top">
                                        <a href="#" class="inflanar-service__cat"><img src="~/Content/images/in-cat-label.svg">Video</a>
                                        <div class="inflanar-service__price">$110</div>
                                    </div>
                                    <h3 class="inflanar-service__title"><a href="#">Standing in at astemple gates at lem</a></h3>
                                    <div class="inflanar-service__author">
                                        <div class="inflanar-service__author--info">
                                            <a href="#"><img src="~/Content/images/in-author7.png">Nairamash</a>
                                        </div>
                                        <div class="inflanar-service__author--rating">
                                            <div class="inflanar-service__author--star">
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                            </div>
                                            <div class="inflanar-service__author--label">(67)</div>

                                        </div>
                                    </div>
                                    <a class="inflanar-btn-full inflanar-btn-full--v2 mg-top-20" href="#">Book Now</a>
                                </div>
                            </div>
                            <!-- End Single property-->
                        </div>
                        <div class="swiper-slide mg-btm-30">
                            <!-- Single property-->
                            <div class="inflanar-service">
                                <!-- Property Head-->
                                <div class="inflanar-service__head">
                                    <img src="~/Content/images/in-service8.jpg" alt="#">
                                    <div class="inflanar-service__wishlist">
                                        <a href="#"><i class="fas fa-heart"></i></a>
                                    </div>
                                </div>
                                <!-- Property Body-->
                                <div class="inflanar-service__body">
                                    <div class="inflanar-service__top">
                                        <a href="#" class="inflanar-service__cat"><img src="~/Content/images/in-cat-label.svg">Lifestyle</a>
                                        <div class="inflanar-service__price">$130</div>
                                    </div>
                                    <h3 class="inflanar-service__title"><a href="#">Strong man the training black man</a></h3>
                                    <div class="inflanar-service__author">
                                        <div class="inflanar-service__author--info">
                                            <a href="#"><img src="~/Content/images/in-author8.png">Nawyanto</a>
                                        </div>
                                        <div class="inflanar-service__author--rating">
                                            <div class="inflanar-service__author--star">
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                            </div>
                                            <div class="inflanar-service__author--label">(33)</div>

                                        </div>
                                    </div>
                                    <a class="inflanar-btn-full inflanar-btn-full--v2 mg-top-20" href="#">Book Now</a>
                                </div>
                            </div>
                            <!-- End Single property-->
                        </div>
                    </div>
                </div>
                <!-- End Testimonial Slider -->
                <!-- Slider Pagination -->
                <div class="swiper-pagination swiper-pagination__service--related mg-top-10"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Related Service -->