@model InfluencerConnect.Models.Campaign

@{
    ViewBag.Title = "Edit";
}

<!-- Breadcrumbs -->
<section class="inflanar-breadcrumb">
    <div class="container">
        <div class="row">
            <!-- Breadcrumb-Content -->
            <div class="col-12">
                <div class="inflanar-breadcrumb__inner">
                    <div class="inflanar-breadcrumb__content">
                        <h2 class="inflanar-breadcrumb__title m-0">Create Campaign</h2>
                        <ul class="inflanar-breadcrumb__menu list-none">
                            <li><a href="/home">Home</a></li>
                            <li class="active"><a href="/CampaignMessage/Create">Create Campaign</a></li>
                        </ul>
                    </div>
                    <div class="inflanar-breadcrumb__img">
                        <div class="inflanar-breadcrumb__thumb">
                            <img src="/Content/Images/in-bread-thumb.png">
                        </div>
                        <div class="inflanar-breadcrumb__group">
                            <img src="/Content/Images/in-social-group.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumbs -->

<div class="Partials">

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Campaign/_EditPartial_A?id=' + @ViewBag.Id,
                dataType: 'html',
                success: function (data) {
                    $('.Partials').html(data);
                }
            });

            $(document).on('click', '#next1', function () {
                var content = $('#content').val();
                var budget = $('#budget').val();
                var shortDescripion = $('#shortDescripion').val();
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();
                var longDescription = $('#longDescription').val();
                var contentTypeId = $('#contentTypeId option:selected').val();
                var audienceId = $('#targetAudienceId option:selected').val();
                var categoryId = $('#categoryId option:selected').val();

                $.ajax({
                    url: '/Campaign/_EditPartial_B?content=' + content + '&shortDescription= ' + shortDescripion + '&startDate= ' + startDate + '&endDate= ' + endDate
                        + '&longDescription=' + longDescription + '&contentTypeId=' + contentTypeId + '&audienceTypeId=' + audienceId + '&categoryId=' + categoryId + '&budget=' + budget '&id=' + @ViewBag.Id,
                    dataType: 'html',
                    success: function (data) {
                        $('.Partials').html(data);
                    }
                });
            })

        });


    </script>


}