@model IEnumerable<InfluencerConnect.Models.CampaignImages>
<section class="inflanar-signin pd-top-120 pd-btm-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="inflanar-signin__body">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="inflanar-signin__logins">
                                <!-- Login header -->
                                <div class="inflanar-signin__header mg-btm-10">
                                    <div class="inflanar-signin__heading">
                                        <h4 class="inflanar-signin__title">Campaign Message</h4>
                                        <p class="inflanar-signin__tag">Create New Campaign Message</p>
                                    </div>

                                </div>
                                <!-- End Login header -->

                                <div class="tab-content" id="nav-tabContent">
                                    <!-- Single Tab Influencer -->
                                    <div class="tab-pane fade active show" id="in-tab11" role="tabpanel">
                                        <div class="inflanar-signin__inner">
                                            <form action="#">
                                                <div class="row">
                                                    <div class=" col-12">
                                                        <div class="form-group inflanar-form-input mg-top-20">
                                                            <label><h3>Images</h3></label>
                                                            <input type="text" hidden id="campaignMsgId" value="@ViewBag.CampaignMsgId" />
                                                            <div class="image-upload-container">
                                                                @if (Model != null)
                                                                {
                                                                    foreach (var image in Model)
                                                                    {
                                                                        <div class="upload-box">
                                                                            <img src="@image.FilePath" alt="@image.FileName">
                                                                            <button type="button" class="remove-icon">x</button>
                                                                        </div>
                                                                    }
                                                                    <div class="upload-box">
                                                                        <label for="upload-input" class="upload-label">+</label>
                                                                        <input type="file" id="upload-input" accept="image/*" hidden>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="upload-box">
                                                                        <label for="upload-input" class="upload-label">+</label>
                                                                        <input type="file" id="upload-input" accept="image/*" hidden>
                                                                    </div>

                                                                }
                                                            </div>
                                                        </div>

                                                        <div class="col-12">

                                                            <!-- Login Button Group -->
                                                            <div class="form-group mg-top-40">
                                                                <button id="next2" class="inflanar-btn"><span>Next</span></button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- End Single Tab -->

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 d-none d-lg-block">
                            <div class="inflanar-signin__welcome inflanar-bg-cover inflanar-section-shape18">
                                <img src="~/Content/Images/Social media-cuate.svg" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>
