

<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
    <div class="layout-container">











        <!-- Layout container -->
        <div class="layout-page">








            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">


                    <div class="row g-6">
                        <!-- Card Border Shadow -->
                        <div class="col-lg-3 col-sm-6">
                            <div class="card card-border-shadow-primary h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-2">
                                        <div class="avatar me-4">
                                            <span class="avatar-initial rounded bg-label-primary"><i class='ti ti-truck ti-28px'></i></span>
                                        </div>
                                        <h4 class="mb-0">250</h4>
                                    </div>
                                    <p class="mb-1">Total Order</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card card-border-shadow-warning h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-2">
                                        <div class="avatar me-4">
                                            <span class="avatar-initial rounded bg-label-warning"><i class='ti ti-alert-triangle ti-28px'></i></span>
                                        </div>
                                        <h4 class="mb-0">8</h4>
                                    </div>
                                    <p class="mb-1">Completed Order</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card card-border-shadow-danger h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-2">
                                        <div class="avatar me-4">
                                            <span class="avatar-initial rounded bg-label-danger"><i class='ti ti-git-fork ti-28px'></i></span>
                                        </div>
                                        <h4 class="mb-0">27</h4>
                                    </div>
                                    <p class="mb-1">Active Order</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card card-border-shadow-info h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-2">
                                        <div class="avatar me-4">
                                            <span class="avatar-initial rounded bg-label-info"><i class='ti ti-clock ti-28px'></i></span>
                                        </div>
                                        <h4 class="mb-0">13</h4>
                                    </div>
                                    <p class="mb-1">Current Balance</p>

                                </div>
                            </div>
                        </div>
                        <!--/ Card Border Shadow -->
                        <!-- Basic Bootstrap Table -->
                        <div class="card">
                            <h5 class="card-header">Campaign</h5>
                            <div class="table-responsive text-nowrap">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Order Number</th>
                                            <th>Influencer</th>
                                            <th>Delivery Date</th>
                                            <th>Amount</th>


                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                        <tr>
                                            <td><i class="ti ti-brand-angular ti-md text-danger me-4"></i> <span class="fw-medium">1002</span></td>
                                            <td>Nawyanton</td>
                                            <td>Jun 12, 24</td>
                                            <td>$757</td>
                                            <td><span class="badge bg-label-primary me-1">Active</span></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical"></i></button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i> Edit</a>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-trash me-1"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><i class="ti ti-brand-angular ti-md text-danger me-4"></i> <span class="fw-medium">1002</span></td>
                                            <td>Nawyanton</td>
                                            <td>Jun 12, 24</td>
                                            <td>$757</td>
                                            <td><span class="badge bg-label-primary me-1">Active</span></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical"></i></button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i> Edit</a>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-trash me-1"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="ti ti-brand-angular ti-md text-danger me-4"></i> <span class="fw-medium">1002</span></td>
                                            <td>Nawyanton</td>
                                            <td>Jun 12, 24</td>
                                            <td>$757</td>
                                            <td><span class="badge bg-label-primary me-1">Active</span></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical"></i></button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i> Edit</a>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-trash me-1"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="ti ti-brand-angular ti-md text-danger me-4"></i> <span class="fw-medium">1002</span></td>
                                            <td>Nawyanton</td>
                                            <td>Jun 12, 24</td>
                                            <td>$757</td>
                                            <td><span class="badge bg-label-primary me-1">Active</span></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical"></i></button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i> Edit</a>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-trash me-1"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="ti ti-brand-angular ti-md text-danger me-4"></i> <span class="fw-medium">1002</span></td>
                                            <td>Nawyanton</td>
                                            <td>Jun 12, 24</td>
                                            <td>$757</td>
                                            <td><span class="badge bg-label-primary me-1">Active</span></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical"></i></button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i> Edit</a>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-trash me-1"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="ti ti-brand-angular ti-md text-danger me-4"></i> <span class="fw-medium">1002</span></td>
                                            <td>Nawyanton</td>
                                            <td>Jun 12, 24</td>
                                            <td>$757</td>
                                            <td><span class="badge bg-label-primary me-1">Active</span></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical"></i></button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i> Edit</a>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-trash me-1"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/ Basic Bootstrap Table -->
                    </div>



                </div>
                <!-- / Content -->







                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>



    <!-- Overlay -->
    

</div>
<!-- / Layout wrapper -->
<!-- Related Service -->
<section class="pd-btm-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section TItle -->
                <div class="inflanar-section__head  mg-btm-10">
                    <div class="inflanar-section__slide">
                        <h2 class="inflanar-section__title inflanar-section__title--medium " data-aos="fade-in" data-aos-delay="400">Related Services</h2>
                        <div class="inflanar-section__border"></div>
                        <div class="inflanar-controls">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Testimonial Slider -->
                <div class="swiper mySwiper inflanar-slider-related loading">
                    <div class="swiper-wrapper mg-top-30">
                        <div class="swiper-slide mg-btm-30">
                            <!-- Single property-->
                            <div class="inflanar-service">
                                <!-- Property Head-->
                                <div class="inflanar-service__head">
                                    <img src="~/Content/images/in-service5.jpg" alt="#">
                                    <div class="inflanar-service__wishlist">
                                        <a href="#"><i class="fas fa-heart"></i></a>
                                    </div>
                                </div>
                                <!-- Property Body-->
                                <div class="inflanar-service__body">
                                    <div class="inflanar-service__top">
                                        <a href="#" class="inflanar-service__cat"><img src="~/Content/images/in-cat-label.svg">Beauty</a>
                                        <div class="inflanar-service__price">$120</div>
                                    </div>
                                    <h3 class="inflanar-service__title"><a href="#">Two girls are our doing make-up in</a></h3>
                                    <div class="inflanar-service__author">
                                        <div class="inflanar-service__author--info">
                                            <a href="#"><img src="~/Content/images/in-author5.png">Jangpanko</a>
                                        </div>
                                        <div class="inflanar-service__author--rating">
                                            <div class="inflanar-service__author--star">
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                            </div>
                                            <div class="inflanar-service__author--label">(54)</div>

                                        </div>
                                    </div>
                                    <a class="inflanar-btn-full inflanar-btn-full--v2 mg-top-20" href="#">Book Now</a>
                                </div>
                            </div>
                            <!-- End Single property-->
                        </div>
                        <div class="swiper-slide mg-btm-30">
                            <!-- Single property-->
                            <div class="inflanar-service">
                                <!-- Property Head-->
                                <div class="inflanar-service__head">
                                    <img src="~/Content/images/in-service6.jpg" alt="#">
                                    <div class="inflanar-service__wishlist">
                                        <a href="#"><i class="fas fa-heart"></i></a>
                                    </div>
                                </div>
                                <!-- Property Body-->
                                <div class="inflanar-service__body">
                                    <div class="inflanar-service__top">
                                        <a href="#" class="inflanar-service__cat"><img src="~/Content/images/in-cat-label.svg">Fitness</a>
                                        <div class="inflanar-service__price">$120</div>
                                    </div>
                                    <h3 class="inflanar-service__title"><a href="#">Strong man the training black man</a></h3>
                                    <div class="inflanar-service__author">
                                        <div class="inflanar-service__author--info">
                                            <a href="#"><img src="~/Content/images/in-author6.png">Thomashko</a>
                                        </div>
                                        <div class="inflanar-service__author--rating">
                                            <div class="inflanar-service__author--star">
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                            </div>
                                            <div class="inflanar-service__author--label">(35)</div>

                                        </div>
                                    </div>
                                    <a class="inflanar-btn-full inflanar-btn-full--v2 mg-top-20" href="#">Book Now</a>
                                </div>
                            </div>
                            <!-- End Single property-->
                        </div>
                        <div class="swiper-slide mg-btm-30">
                            <!-- Single property-->
                            <div class="inflanar-service">
                                <!-- Property Head-->
                                <div class="inflanar-service__head">
                                    <img src="~/Content/images/in-service7.jpg" alt="#">
                                    <div class="inflanar-service__wishlist">
                                        <a href="#"><i class="fas fa-heart"></i></a>
                                    </div>
                                </div>
                                <!-- Property Body-->
                                <div class="inflanar-service__body">
                                    <div class="inflanar-service__top">
                                        <a href="#" class="inflanar-service__cat"><img src="~/Content/images/in-cat-label.svg">Video</a>
                                        <div class="inflanar-service__price">$110</div>
                                    </div>
                                    <h3 class="inflanar-service__title"><a href="#">Standing in at astemple gates at lem</a></h3>
                                    <div class="inflanar-service__author">
                                        <div class="inflanar-service__author--info">
                                            <a href="#"><img src="~/Content/images/in-author7.png">Nairamash</a>
                                        </div>
                                        <div class="inflanar-service__author--rating">
                                            <div class="inflanar-service__author--star">
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                            </div>
                                            <div class="inflanar-service__author--label">(67)</div>

                                        </div>
                                    </div>
                                    <a class="inflanar-btn-full inflanar-btn-full--v2 mg-top-20" href="#">Book Now</a>
                                </div>
                            </div>
                            <!-- End Single property-->
                        </div>
                        <div class="swiper-slide mg-btm-30">
                            <!-- Single property-->
                            <div class="inflanar-service">
                                <!-- Property Head-->
                                <div class="inflanar-service__head">
                                    <img src="~/Content/images/in-service8.jpg" alt="#">
                                    <div class="inflanar-service__wishlist">
                                        <a href="#"><i class="fas fa-heart"></i></a>
                                    </div>
                                </div>
                                <!-- Property Body-->
                                <div class="inflanar-service__body">
                                    <div class="inflanar-service__top">
                                        <a href="#" class="inflanar-service__cat"><img src="~/Content/images/in-cat-label.svg">Lifestyle</a>
                                        <div class="inflanar-service__price">$130</div>
                                    </div>
                                    <h3 class="inflanar-service__title"><a href="#">Strong man the training black man</a></h3>
                                    <div class="inflanar-service__author">
                                        <div class="inflanar-service__author--info">
                                            <a href="#"><img src="~/Content/images/in-author8.png">Nawyanto</a>
                                        </div>
                                        <div class="inflanar-service__author--rating">
                                            <div class="inflanar-service__author--star">
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                                <span><img src="~/Content/images/in-rating.svg"></span>
                                            </div>
                                            <div class="inflanar-service__author--label">(33)</div>

                                        </div>
                                    </div>
                                    <a class="inflanar-btn-full inflanar-btn-full--v2 mg-top-20" href="#">Book Now</a>
                                </div>
                            </div>
                            <!-- End Single property-->
                        </div>
                    </div>
                </div>
                <!-- End Testimonial Slider -->
                <!-- Slider Pagination -->
                <div class="swiper-pagination swiper-pagination__service--related mg-top-10"></div>
            </div>
        </div>
    </div>
</section>

<!-- End Related Service -->