<!-- Category List -->
<section class="pd-btm-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section TItle -->
                <div class="inflanar-section__head inflanar-section__center mg-btm-20">
                    <span class="inflanar-section__badge  m-0" data-aos="fade-in" data-aos-delay="300">
                        <span>Categories</span>  <img src="~/Content/Images/in-section-vector3.svg">
                    </span>
                    <h2 class="inflanar-section__title" data-aos="fade-in" data-aos-delay="400">Influencer in Different Categories</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mg-top-30" data-aos="fade-up" data-aos-delay="200">
                <div class="inflanar-category">
                    <!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/in-cat-icon1.svg" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Fashion</h4>
                            <span class="inflanar-category__label">34+</span>
                        </div>
                    </a>
                    <!-- End Single Category -->
                    <!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/in-cat-icon2.svg" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Sport & Fitness</h4>
                            <span class="inflanar-category__label">20+</span>
                        </div>
                    </a>
                    <!-- End Single Category -->
                    <!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/in-cat-icon3.svg" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Parenting</h4>
                            <span class="inflanar-category__label">40+</span>
                        </div>
                    </a>
                    <!-- End Single Category -->
                    <!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/in-cat-icon4.svg" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Life Style</h4>
                            <span class="inflanar-category__label">22+</span>
                        </div>
                    </a>
                    <!-- End Single Category -->
                    <!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/in-cat-icon5.svg" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Beauty</h4>
                            <span class="inflanar-category__label">32+</span>
                        </div>
                    </a>
                    <!-- End Single Category -->
                    <!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/in-cat-icon6.svg" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Vloggers</h4>
                            <span class="inflanar-category__label">50+</span>
                        </div>
                    </a>
                    <!-- End Single Category -->
                    <!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/in-cat-icon7.svg" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Pet Care</h4>
                            <span class="inflanar-category__label">12+</span>
                        </div>
                    </a>
                    <!-- End Single Category -->
                    <!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/in-cat-icon8.svg" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Photography</h4>
                            <span class="inflanar-category__label">56+</span>
                        </div>
                    </a>
                    <!-- End Single Category -->
                    <!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/in-cat-icon9.svg" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Games</h4>
                            <span class="inflanar-category__label">18+</span>
                        </div>
                    </a>
                    <!-- End Single Category -->
                    <!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/electrical-circuit.png" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Technology</h4>
                            <span class="inflanar-category__label">18+</span>
                        </div>
                    </a>
                    <!-- End Single Category --><!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/electrical-circuit.png" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Technology</h4>
                            <span class="inflanar-category__label">18+</span>
                        </div>
                    </a>
                    <!-- End Single Category --><!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/electrical-circuit.png" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Technology</h4>
                            <span class="inflanar-category__label">18+</span>
                        </div>
                    </a>
                    <!-- End Single Category --><!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/electrical-circuit.png" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Technology</h4>
                            <span class="inflanar-category__label">18+</span>
                        </div>
                    </a>
                    <!-- End Single Category --><!-- Single Category -->
                    <a href="influencers.html" class="inflanar-category__single inflanar-category__single--v2">
                        <div class="inflanar-category__icon">
                            <img src="~/Content/Images/electrical-circuit.png" alt="#">
                        </div>
                        <div class="inflanar-category__content">
                            <h4 class="inflanar-category__title">Technology</h4>
                            <span class="inflanar-category__label">18+</span>
                        </div>
                    </a>
                    <!-- End Single Category -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features -->
