
@model List<InfluencerConnect.Models.CampaignViewHelper>
<!-- Services -->
<section class="inflanar-section-shape inflanar-bg-cover pd-top-120 pd-btm-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section TItle -->
                <div class="inflanar-section__head inflanar-section__center text-center mg-btm-20">
                    <span class="inflanar-section__badge inflanar-primary-color m-0" data-aos="fade-in" data-aos-delay="300">
                        <span>campaigns</span> <img src="~/Content/Images/in-section-vector.svg">
                    </span>
                    <h2 class="inflanar-section__title" data-aos="fade-in" data-aos-delay="400"> Latest Campaigns</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var campaign in Model)
            {
                <div class="col-lg-3 col-md-6 col-12 mg-top-30" data-aos="fade-in" data-aos-delay="400">
                    <!-- Single property-->
                    <div class="inflanar-service">
                        <!-- Property Head-->
                        <div class="inflanar-service__head">
                            @{
                                if (campaign.Images.Count > 0)
                                {
                                    var firstImage = campaign.Images.FirstOrDefault();
                                    <img src="@firstImage.FilePath" alt="Campaign Image" />
                                }
                                else
                                {
                                    <img src="/Content/Images/IClogo.png" alt="Campaign Image" />
                                }
                            }
                            <div class="inflanar-service__wishlist active">

                            </div>
                        </div>
                        <!-- Property Body-->
                        <div class="inflanar-service__body">
                            <div class="inflanar-service__top">
                                <a href="influencers.html" class="inflanar-service__cat"><img src="~/Content/Images/in-cat-label.svg">@campaign.Category</a>

                            </div>
                            <h3 class="inflanar-service__title"><a href="service-single.html">@campaign.Content</a></h3>
                            <div class="inflanar-service__author">
                                <div class="inflanar-service__author--info">
                                    <a href="influencer-profile.html"><img src="~/Content/Images/in-author1.png">@campaign.AgentName</a>
                                </div>
                                <div class="inflanar-service__author--rating">
                                    <div class="inflanar-service__author--star">
                                        <span><a style="color: #FE2C55;" href="~/Chat"><i class="fas fa-message"></i></a></span>

                                    </div>


                                </div>
                            </div>
                            <a class="inflanar-btn-full inflanar-btn-full--v2 mg-top-20" href="~/Campaign/Details/@campaign.CampaignId">Details</a>
                        </div>
                    </div>
                    <!-- End Single property-->
                </div>

            }


        </div>
        <div class="row mg-top-40" data-aos="fade-up" data-aos-delay="600">
            <div class="col-12 d-flex justify-content-center">
                <a href="services.html" class="inflanar-btn inflanar-btn__big"><span>View All</span></a>
            </div>
        </div>
    </div>
</section>
<!-- End Services -->
