@{
    ViewBag.Title = "Influencer Connect";
}

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;ampdisplay=swap" rel="stylesheet">

<!-- Icons -->

<link href="~/Content/chat style/assets/vendor/fonts/fontawesome.css" rel="stylesheet" />
<link href="~/Content/chat style/assets/vendor/fonts/flag-icons.css" rel="stylesheet" />
<link href="~/Content/chat style/assets/vendor/fonts/tabler-icons.css" rel="stylesheet" />

<!-- Core CSS -->

<link rel="stylesheet" href="~/Content/chat style/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
<link rel="stylesheet" href="~/Content/chat style/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />


<link rel="stylesheet" href="~/Content/chat style/assets/css/demo.css" />

<!-- Vendors CSS -->
<link rel="stylesheet" href="~/Content/chat style/assets/vendor/libs/node-waves/node-waves.css" />

<link rel="stylesheet" href="~/Content/chat style/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
<link rel="stylesheet" href="~/Content/chat style/assets/vendor/libs/typeahead-js/typeahead.css" />
<link rel="stylesheet" href="~/Content/chat style/assets/vendor/libs/apex-charts/apex-charts.css" />
<link rel="stylesheet" href="~/Content/chat style/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
<link rel="stylesheet" href="~/Content/chat style/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />

<!-- Page CSS -->

<link rel="stylesheet" href="~/Content/chat style/assets/vendor/css/pages/app-logistics-dashboard.css" />

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->

<script src="~/Content/chat style/assets/vendor/libs/jquery/jquery.js"></script>
<script src="~/Content/chat style/assets/vendor/libs/popper/popper.js"></script>
<script src="~/Content/chat style/assets/vendor/js/bootstrap.js"></script>
<script src="~/Content/chat style/assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="~/Content/chat style/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/Content/chat style/assets/vendor/libs/hammer/hammer.js"></script>
<script src="~/Content/chat style/assets/vendor/libs/i18n/i18n.js"></script>
<script src="~/Content/chat style/assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="~/Content/chat style/assets/vendor/js/menu.js"></script>

<!-- endbuild -->
<!-- Vendors JS -->
<script src="~/Content/chat style/assets/vendor/libs/apex-charts/apexcharts.js"></script>
<script src="~/Content/chat style/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>

<!-- Main JS -->
<script src="~/Content/chat style/assets/js/main.js"></script>


<!-- Page JS -->
<script src="~/Content/chat style/assets/js/app-logistics-dashboard.js"></script>

@if (ViewBag.IsInfluencer == null)
{
    <!-- inflanar Hero -->
    <section id="hero" class="inflanar-hero inflanar-hero--v3 inflanar-section-shape10 inflanar-bg-cover p-relative">
        <div class="inflanar-hero-mixed"><img src="~/Content/Images/in-hero-mixed-card.png"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="inflanar-hero__inside">
                        <div class="inflanar-hero__inner">
                            <!-- Hero Content -->
                            <div class="inflanar-hero__content" data-aos="fade-up" data-aos-delay="200">
                                <!--<span class="inflanar-hero__sub inflanar-gradient-color inflanar-regular-font">GO TO YOUR INFLUENCER PLATFROM</span>-->
                                <h1 class="inflanar-hero__title m-0">Connecting Influencers with Marketing Agents for Seamless Campaigns</h1>
                            </div>
                            <ul class="inflanar-list-style inflanar-list-style--v3 inflanar-list-style__grey list-style-normal list-none mg-top-20" data-aos="fade-up" data-aos-delay="400">
                                <li><img src="~/Content/Images/in-green-check.svg">Connect with Brands</li>
                                
                            </ul>
                            <div class="inflanar-hero__button" data-aos="fade-up" data-aos-delay="500">
                                <a href="~/Account/Register" class="inflanar-btn inflanar-btn__big inflanar-btn__fifth">Register Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End inflanar Hero -->
    @Html.Action("_InfluencerCategories");

    @Html.Action("_TopInfluencers");

    

    <!-- Services -->
    @Html.Action("_TopCampaigns", "Home")

    <!-- End Services -->
    <!-- Services -->
    <section class="pd-top-120 pd-btm-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section TItle -->
                    <div class="inflanar-section__head inflanar-section__center text-center mg-btm-20">
                        <span class="inflanar-section__badge  inflanar-primary-color m-0" data-aos="fade-in" data-aos-delay="300">
                            <span>Working Process</span> <img src="~/Content/Images/in-section-vector.svg">
                        </span>
                        <h2 class="inflanar-section__title" data-aos="fade-in" data-aos-delay="400">How Dose It Work?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 mg-top-30" data-aos="fade-up" data-aos-delay="200">
                    <!-- Single Card-->
                    <div class="inflanar-hcard inflanar-hcard--one">
                        <div class="inflanar-hcard__img">
                            <img src="~/Content/Images/create campaign.png" alt="#">
                        </div>
                        <div class="inflanar-hcard__content">
                            <div class="inflanar-hcard__line"><img src="~/Content/Images/in-line-shape1.svg"></div>
                            <h4 class="inflanar-hcard__label">
                                <span>Step</span>
                                <b>1</b>
                            </h4>
                            <h4 class="inflanar-hcard__title">Create Campaign</h4>
                            <p class="inflanar-hcard__text">Curabitur a pretium orci, a venenatis diam phasellus id mi velit. Vestibulum et tincid unt sem, id sagittis nibh.</p>
                        </div>
                    </div>
                    <!-- End Single Card-->
                </div>
                <div class="col-lg-3 col-md-6 col-12 mg-top-30" data-aos="fade-up" data-aos-delay="400">
                    <!-- Single Card-->
                    <div class="inflanar-hcard inflanar-hcard--two">
                        <div class="inflanar-hcard__content inflanar-hcard__content__two">
                            <h4 class="inflanar-hcard__label">
                                <span>Step</span>
                                <b>2</b>
                            </h4>
                            <h4 class="inflanar-hcard__title">Choose Influencers</h4>
                            <p class="inflanar-hcard__text">Curabitur a pretium orci, a venenatis diam phasellus id mi velit. Vestibulum et tincid unt sem, id sagittis nibh.</p>
                            <div class="inflanar-hcard__line"><img src="~/Content/Images/in-line-shape2.svg"></div>
                        </div>
                        <div class="inflanar-hcard__img">
                            <img src="~/Content/Images/invite influencers.png" alt="#">
                        </div>
                    </div>
                    <!-- End Single Card-->
                </div>
                <div class="col-lg-3 col-md-6 col-12 mg-top-30" data-aos="fade-up" data-aos-delay="600">
                    <!-- Single Card-->
                    <div class="inflanar-hcard inflanar-hcard--one">
                        <div class="inflanar-hcard__img">
                            <img src="~/Content/Images/chat.png" alt="#">
                        </div>
                        <div class="inflanar-hcard__content">
                            <div class="inflanar-hcard__line inflanar-hcard__line--v2"><img src="~/Content/Images/in-line-shape3.svg"></div>
                            <h4 class="inflanar-hcard__label">
                                <span>Step</span>
                                <b>3</b>
                            </h4>
                            <h4 class="inflanar-hcard__title">Chat</h4>
                            <p class="inflanar-hcard__text">Curabitur a pretium orci, a venenatis diam phasellus id mi velit. Vestibulum et tincid unt sem, id sagittis nibh.</p>
                        </div>
                    </div>
                    <!-- End Single Card-->
                </div>
                <div class="col-lg-3 col-md-6 col-12 mg-top-30" data-aos="fade-up" data-aos-delay="800">
                    <!-- Single Card-->
                    <div class="inflanar-hcard inflanar-hcard--two">
                        <div class="inflanar-hcard__content inflanar-hcard__content__two">
                            <h4 class="inflanar-hcard__label">
                                <span>Step</span>
                                <b>4</b>
                            </h4>
                            <h4 class="inflanar-hcard__title">Manage Campaigns</h4>
                            <p class="inflanar-hcard__text">Curabitur a pretium orci, a venenatis diam phasellus id mi velit. Vestibulum et tincid unt sem, id sagittis nibh.</p>
                            <div class="inflanar-hcard__line inflanar-hcard__line--v3"><img src="~/Content/Images/in-line-shape2.svg"></div>
                        </div>
                        <div class="inflanar-hcard__img">
                            <img src="~/Content/Images/Manage campaigns.png" alt="#">
                        </div>
                    </div>
                    <!-- End Single Card-->
                </div>
            </div>
        </div>
    </section>
    <!-- End Services -->

    <!-- Footer CTA -->
    <section class="footer-cta inflanar-bg-cover section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-cta__inner inflanar-bg-cover  inflanar-section-shape3">
                        <div class="footer-cta__content">
                            <h3 class="footer-cta__title">Let influencers do the heavy lifting for your marketing campaign</h3>
                            <a href="contact.html" class="inflanar-btn inflanar-btn__big"><span>Signup Now!</span></a>
                        </div>
                        <div class="footer-cta__img">
                            <img src="~/Content/Images/in-footer-cta.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer CTA -->
}
else if (ViewBag.IsInfluencer == true)
{
    Html.RenderAction("_InfluencerDashboard", "Influencers");

}
else if (ViewBag.IsInfluencer == false)
{
    Html.RenderAction("_MarketingAgentDashboard", "MarketingAgents");

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            $(document).on('click', '.invite-btn', function () {

                const id = $(this).data('id');
                const action = $(this).data('action');

                $.ajax({
                    url: '/Invitations/HandleAction',
                    type: 'POST',
                    data: { id: id, action: action },
                    success: function (response) {
                        alert("Invitation " + action + "ed successfully.");
                        location.reload(); // or update table dynamically
                    },
                    error: function () {
                        alert("Failed to " + action + " invitation.");
                    }

                });
            });

            $(document).on('click', '.campaign-delete-btn', function () {

                const campaignId = $(this).data('campaignid')
                $.ajax({
                    url: '/Campaign/DeleteCampaign',
                    type: 'POST',
                    data: { id: campaignId },
                    success: function (response) {
                        location.reload(); // or update table dynamically
                    },
                    error: function () {
                        alert("Failed to Delete");
                    }

                });


            });

        });

    </script>


}

